In [1]:
# 2.1: Built-in atomic data types in Python

In [2]:
# 2.1.1: Numbers - floats and integers

In [3]:
# 2.1.1.1: Declare a float
x = 55.5
print(x)
print(type(x))

55.5
<class 'float'>

In [4]:
# 2.1.1.2: Convert float to integer
x_int = int(x)
print(x_int)
print(type(x_int))

55
<class 'int'>

In [5]:
# 2.1.1.3: Convert integer to float
x_float = float(x_int)
print(x_float)
print(type(x_float))

55.0
<class 'float'>

In [6]:
# 2.1.1.4: Basic arithmetic for numbers
x = 3
y = 4
z = 5
result_lhs = x**2 + y**2 # power operator is not ^
result_rhs = z**2
print(result_lhs)
print(result_rhs)

25
25

In [7]:
# 2.1.1.5: Use of the math module to calculate a square root
from math import sqrt
x = 4
print(sqrt(x))

2.0

In [8]:
# 2.1.1.6: Use of the math module to calculate distributions
# Verify the 68/95/99.7 rule https://en.wikipedia.org/wiki/68%E2%80%9395%E2%80%9399.7_rule
from math import erf
cdf_0 = (1 + erf(0 / sqrt(2))) / 2
cdf_1 = (1 + erf(1 / sqrt(2))) / 2
cdf_2 = (1 + erf(2 / sqrt(2))) / 2
cdf_3 = (1 + erf(3 / sqrt(2))) / 2
one_std = 2 * (cdf_1 - cdf_0)
two_std = 2 * (cdf_2 - cdf_0)
three_std = 2 * (cdf_3 - cdf_0)
print(one_std)
print(two_std)
print(three_std)

0.6826894921370861
0.9544997361036414
0.9973002039367398

In [9]:
# 2.1.1.7: Number formatting
x = 3.14159
y = 1000000
print('{:.3f}'.format(x)) # print to three decimal places.  Colon designates as format string
print('${:,.2f}'.format(y)) # print as financial i.e. dollar sign, 2 decimals and comma thousands separator

3.142
$1,000,000.00

In [10]:
# 2.1.2: Strings

In [11]:
# 2.1.2.1: Declare a string
x = "hi"
print(x)
print(type(x))

hi
<class 'str'>

In [12]:
# 2.1.2.3: Convert to a string
x = str(1.9)
y = str(4)
print(x)
print(type(x))
print(y)
print(type(y))

1.9
<class 'str'>
4
<class 'str'>

In [13]:
# 2.1.2.2: String formatting
x = "A special right triangle has sides {first_leg}, {second_leg} and {hypotenuse}".format(
    first_leg=3, second_leg=4, hypotenuse=5)
y = "A special right triangle has sides {}, {} and {}".format(3, 4, 5) # abbreviated style
print(x)
print(y)

A special right triangle has sides 3, 4 and 5
A special right triangle has sides 3, 4 and 5

In [14]:
# 2.1.2.3: Using index notation to return substrings - similar to Excel's MID formula
x = "123456789"
print(x[0:3]) # Indexing starts at 0. Second index is one more than the last element of the substring. 
print(x[5:6]) # A substring can start in the middle of the string
print(x[-3:]) # Use a negative in the first index to start from the right
print(x[0:-4]) # Use a negative in the second index to eliminate the rightmost elements

123
6
789
12345

In [15]:
# 2.1.2.4: String split

In [16]:
# 2.1.3: Dates

In [17]:
# 2.1.3.1: Declare a date
from datetime import date
todays_date = date.today()
new_years_2040 = date(2040, 1, 1)
print(todays_date)
print(new_years_2040)
print(todays_date.year)
print(todays_date.month)
print(todays_date.day)
print(new_years_2040.weekday()) # Monday is 0 and Sunday is 6

2017-11-02
2040-01-01
2017
11
2
6

In [18]:
# 2.1.3.2: Find the days between dates
date_difference = new_years_2040 - todays_date
print(type(date_difference))
print(date_difference.days)
month_difference = (new_years_2040.year - todays_date.year)*12 - (new_years_2040.month - todays_date.month)
print(month_difference)

<class 'datetime.timedelta'>
8095
286

In [19]:
# 2.1.3.3: Add/subtract days, weeks, years
from datetime import timedelta
today_plus_100_days = timedelta(days=100) + todays_date # Can also use weeks instead of days
print(today_plus_100_days)
print(todays_date)
years_to_add = 2
print(date(todays_date.year + years_to_add, todays_date.month, todays_date.day)) # Add two years

2018-02-10
2017-11-02
2019-11-02

In [20]:
# 2.1.3.4: Format dates
print(date.strftime(todays_date, '%Y')) # %Y is long year
print(date.strftime(todays_date, '%y')) # %y is short year
print(date.strftime(todays_date, '%A')) # %A is weekday
print(date.strftime(todays_date, '%B')) # %B is month
print(date.strftime(todays_date, '%A, %B %d %Y')) # Full description

2017
17
Thursday
November
Thursday, November 02 2017

In [21]:
# 2.1.4: Booleans

In [22]:
# 2.1.4.1: Test equality
boolean_result = 2 == 2 # double equal sign is equality (same as in R)
print(boolean_result)
print(not boolean_result)
print(boolean_result and True) # other logical statments are the same as english
print(boolean_result and False)
print(boolean_result or False)
print(type(boolean_result))

True
False
True
False
True
<class 'bool'>

In [23]:
# 2.1.4.2: None type
x = None # Similar to NULL in R or SQL
print(x)
print(type(x))

None
<class 'NoneType'>